body {
  background-color: rgba(203, 202, 202, 0.503);
}

.profile {
  width: 600px;
  height: 800px;
  background-color: white;
  border-radius: 50px;
  margin: 130px auto;
}

.top {
  width: 100%;
  height: 50%;
  background-color: rgb(125, 151, 247);
  border-radius: 50px 50px 0 0;
  position: relative;
}

.pro_img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -15%;
  padding: 10px;
  box-sizing: border-box;
  left: 35%;
  border-radius: 50%;
  border: 1px solid black;
}
